body {
	font-family: Arial, Helvetica, sans-serif;
}

.intro {
	display: flex;
	justify-content: center;
}

.title {
	text-align: center;
}

.title>h3 {
	color: #777;
}

.btn-convert {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.btn-copy {
	width: 100%;
}

button {
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: 5px;
}

.container {
	display: flex;
}

.container-child {
	flex: 1;
	text-align: center;
}

.container-middle>div {
	margin: 10px;
}

.json-container, .go-container {
	height: calc(100vh - 275px);
}

textarea {
	box-sizing: border-box;
	padding: 15px;
	height: 100%;
	width: 100%;
	font-size: 12pt;
}

#struct-name {
	box-sizing: border-box;
	width: 100%;
}

@media (max-width: 800px) {
	.intro {
		flex-direction: column;
	}

	.intro>div {
		width: 100%;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
		color: #ddd;
	}

	textarea {
		background-color: #222;
		color: #ddd;
		border: 1px solid #444;
	}
}